

/* contact page */

.background {
    background-image: url("../images/background-texture.png"), url("../images/background-s5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.arrow-up,
.arrow-down:hover {
    cursor: pointer;
}

.arrow-down {
    transform: rotate(180deg);
}

.section-scroll {
    width: 14rem;
    flex-shrink: 0;
    height: 100vh;
    position: fixed;
}

.section-name {
    text-transform: uppercase;
    font-family: 'M PLUS Rounded 1c';
    font-size: 18px;
    margin-top: 1rem;
    color: #fff;
}

.news-container {
    padding: 0 5rem 6rem 19rem;
    flex: 0 0 auto;
    width: 72%;
    font-family: 'Marmelad';
    font-size: 18px;
    line-height: 22px;
}

.news-container img {
    width: 100%;
    height: auto;
    margin-bottom: 1.3rem;
}

.news-container div[style] {
    width: 100% !important;
}

.more-news {
    width: 28%;
}

.news-container,
.more-news-container {
    padding-top: 9rem;
}

.news-heading {
    font-family: 'Asap Condensed';
    font-size: 48px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 1rem;
}

.post-date {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.fa-facebook-f:before {
    padding: 0 .35rem
}

.news-container .fa-thumbs-up,
.news-container .fa-facebook-f {
    font-size: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: .8rem;
    color: #000;
}

.zalo {
    width: 57.5px;
    height: 57.5px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zalo-logo {
    margin-bottom: 0 !important;
    width: 40px !important;
}

.more-news-container {
    padding-right: 4rem;
}

.more-news-item {
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

.more-news-item:hover {
    color: #000;
    background: rgba(235, 235, 235, 0.3);
}

.more-news-post-date {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 0;
}

.more-news-item:not(:last-child) {
    border-bottom: 1px solid #5B5B5B;
}

.more-news-item {
    padding: 1.4rem 0;
    transition: .2s ease;
}

.more-news-item img {
    width: 7rem;
    height: 7rem;
    margin-left: 1.5rem;
    border-radius: inherit;
}

.more-news-title {
    font-family: 'Asap Condensed';
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

@media screen and (max-width: 1350px) {
    .section-scroll {
        justify-content: center !important;
        padding-left: 3rem;
    }
    .news-container {
        padding: 9rem 3rem 6rem 14rem;
        width: 65%;
    }
    .news-heading {
        font-size: 42px;
    }
}

@media screen and (max-width: 1024px) {
    .page-container {
        flex-direction: column;
        overflow: hidden;
    }
    .news-container {
        width: 100%;
        padding: 9rem 5rem 0rem 14rem;
    }
    .more-news-container {
        flex-direction: row !important;
        padding-top: 0rem;
        padding-bottom: 8rem;
        padding-left: 14rem;
    }
    .more-news-item {
        padding: .5rem 0;
        border-bottom: none !important;
    }
    .more-news-item img {
        margin-left: .5rem;
    }
    .slick-prev {
        left: 180px;
        top: 30%;
    }
    .slick-next {
        right: 20px;
        top: 30%;
    }
}

@media screen and (max-width: 1000px) {
    .more-news-container {
        padding-bottom: 7rem;
    }
}

@media screen and (max-width: 820px) {
    .section-scroll {
        display: none !important;
    }
    .news-container {
        padding: 9rem 2rem 0rem 2rem;
    }
    .more-news-container {
        padding-left: 4rem;
    }
    .more-news-item>div {
        padding-left: .5rem!important;
    }
    .slick-prev {
        left: 20px;
    }
}

@media screen and (max-width: 767px) {
    .news-container {
        font-size: 16px;
        line-height: 20px;
    }
    .news-heading {
        font-size: 34px;
    }
    .more-news-item img {
        width: 6rem;
        height: 6rem;
    }
    .more-news-title {
        font-size: 16px;
        line-height: 20px;
    }
    .news-container .fa-thumbs-up,
    .news-container .fa-facebook-f {
        font-size: 23px;
    }
    .zalo {
        width: 50px;
        height: 50px;
    }
    .zalo-logo {
        width: 34px !important;
    }
}

@media screen and (max-width: 675px) {
    .news-container {
        padding: 6rem 1rem 0rem 1rem;
    }
    .more-news-container {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 5rem;
    }
    .news-container .fa-thumbs-up,
    .news-container .fa-facebook-f {
        font-size: 16px;
    }
    .fa-facebook-f:before {
        padding: 0 .2rem;
    }
    .zalo {
        width: 44px;
        height: 44px;
    }
    .zalo-logo {
        width: 30px !important;
    }
    .news-container>div {
        margin-bottom: 1.5rem!important;
    }
    .slick-prev {
        left: 15px;
    }
    .slick-next {
        right: 15px;
    }
}

@media screen and (max-width: 575px) {
    .news-heading {
        font-size: 30px;
        margin-bottom: .5rem;
    }
    .post-date {
        font-size: 12px;
        margin-bottom: .5rem;
    }
    .news-container {
        font-size: 14px;
        line-height: 19px;
    }
}

@media screen and (max-width: 475px) {
    .news-heading {
        font-size: 26px;
    }
}


