/* font */

@font-face {
    font-family: 'Vladimir Script';
    src: url('../font/VladimirScript.woff2') format('woff2'), url('../font/VladimirScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* side navbar */

.side-navbar {
    z-index: 9999;
    margin-top: 4rem;
    margin-left: 4.6rem;
    top: 0;
}

.mv-logo {
    width: 10rem;
    height: 10rem;
}

.btn-side-navbar {
    border: none;
    background-color: unset;
    color: white;
    font-size: 25px;
    font-family: 'Archivo Black';
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    text-transform: uppercase;
}

.fas.fa-bars {
    font-size: 50px;
}

.offcanvas {
    align-items: center;
}

.offcanvas-start {
    width: 19rem;
}

.btn-close {
    display: none;
}

.offcanvas-header {
    margin-top: 3rem;
    justify-content: center;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav li {
    margin-bottom: 1rem;
}

.navbar-nav a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    font-family: 'M PLUS Rounded 1c';
    color: #000;
    text-transform: uppercase;
}

.offcanvas-backdrop.show {
    opacity: 0.2;
}

@media screen and (max-height: 820px) {
    .offcanvas-header {
        margin-top: 1rem;
    }
    .offcanvas-header img {
        width: 75%;
    }
    .navbar-nav li {
        margin-bottom: .4rem;
    }
    .navbar-nav a {
        font-size: 22px;
    }
}

@media screen and (max-height: 650px) {
    .offcanvas-header img {
        width: 60%;
        padding-bottom: 0rem;
    }
    .navbar-nav li {
        margin-bottom: 10px;
    }
    .navbar-nav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 1350px) {
    .side-navbar {
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
        margin-top: 2rem;
        padding: 0 4.6rem;
    }
    .btn-side-navbar {
        font-size: 0px;
        margin-top: 0;
    }
    .mv-logo {
        width: 8rem;
        height: 8rem;
    }
}

@media screen and (max-width: 820px) {
    .mv-logo {
        width: 6rem;
        height: 6rem;
    }
    .fas.fa-bars {
        font-size: 38px;
    }
    .side-navbar {
        margin-top: 1rem;
        padding: 0 2rem;
    }
}

@media screen and (max-width: 675px) {
    .side-navbar {
        margin-top: 0.5rem;
        padding: 0 1rem;
    }
    .mv-logo {
        width: 4rem;
        height: 4rem;
    }
    .fas.fa-bars {
        font-size: 30px;
    }
}

@media screen and (max-width: 425px) {
    .offcanvas-start {
        width: 100vw;
    }
    .offcanvas-header {
        margin-top: .5rem;
    }
    .btn-close {
        display: unset;
    }
}

/* organizer page */

.background {
    background-image: url("../images/background-texture.png"), url("../images/background-organizer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-container {
    padding: 4rem 4.6rem 3rem 4.6rem;
}

.organizer-container {
    padding-right: 3rem;
}

.organizer-container h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Bitter';
    text-transform: uppercase;
    margin-left: -6rem;
}

.organizer-logo {
    width: 13rem;
}

.mc-film-logo {
    width: 20rem;
}

.ntertainment-logo {
    width: 20rem;
}

.oppo-logo {
    margin-right: 6rem;
}

.oppo-logo,
.man-logo {
    width: 24rem;
}

.organizer-top {
    margin-bottom: 3.4rem;
    width: 100%;
}

.organizer-container div {
    padding-left: 1rem;
}

.organizer-bottom {
    width: 100%;
    margin-left: -7rem;
}

.ob-bottom {
    margin-left: -6rem;
}

@media screen and (max-width: 1350px) {
    .page-container {
        flex-direction: column;
        padding: 2rem 3rem 3rem 3rem;
    }
    .organizer-container {
        padding-right: 0rem;
        margin-top: 1rem;
    }
    .organizer-container div {
        padding-left: 0rem;
    }
    .organizer-container h1 {
        margin-left: 0rem;
    }
    .ob-bottom {
        margin-left: 0rem;
    }
}

@media screen and (max-width: 1000px) {
    .organizer-container h1 {
        font-size: 40px;
    }
    .organizer-logo {
        width: 9rem;
    }
    .mc-film-logo {
        width: 15rem;
    }
    .ntertainment-logo {
        width: 16rem;
    }
    .oppo-logo {
        margin-right: 0rem;
    }
    .oppo-logo,
    .man-logo {
        width: 18rem;
    }
    .organizer-bottom {
        margin-left: -2rem;
        justify-content: space-around !important;
    }
}

@media screen and (max-width: 768px) {
    .organizer-container h1 {
        font-size: 34px;
    }
    .organizer-logo {
        width: 7rem;
    }
    .mc-film-logo {
        width: 10rem;
    }
    .ntertainment-logo {
        width: 11rem;
    }
    .oppo-logo,
    .man-logo {
        width: 12rem;
    }
}

@media screen and (max-width: 576px) {
    .page-container {
        padding: 1rem 1rem 3rem 1rem;
    }
    .organizer-top {
        margin-bottom: 2rem;
    }
    .organizer-container h1 {
        font-size: 26px;
    }
    .organizer-logo {
        width: 5rem;
    }
    .mc-film-logo {
        width: 7rem;
    }
    .ntertainment-logo {
        width: 8rem;
    }
    .oppo-logo,
    .man-logo {
        width: 9rem;
    }
    .organizer-bottom {
        margin-left: 0rem;
    }
}

@media screen and (max-width: 375px) {
    .organizer-container h1 {
        font-size: 22px;
        margin-bottom: .7rem !important;
    }
    .organizer-logo {
        width: 4rem;
    }
    .mc-film-logo {
        width: 6rem;
    }
    .ntertainment-logo {
        width: 6rem;
    }
    .oppo-logo,
    .man-logo {
        width: 8rem;
    }
}


/* footer */

footer {
    background-color: #071A0F;
    color: white;
    font-size: 14px;
    font-family: 'M PLUS Rounded 1c';
    padding: .3rem 5rem .3rem 6rem;
    align-items: flex-end;
}

.footer-logo img {
    width: 9.5rem;
    height: 6.5rem;
}

.social-link {
    color: white;
    font-size: 22px;
    text-decoration: none;
    margin-left: .5rem;
}

.social-link:hover {
    color: white;
}

@media screen and (max-width: 1000px) {
    footer {
        flex-direction: column;
        align-items: center !important;
        padding: .3rem 0 .3rem 0;
    }
    footer>div:nth-child(2) {
        margin-top: 1rem;
    }
    .lt-footer {
        justify-content: center !important;
    }
}

@media screen and (max-width: 768px) {
    .footer-logo img {
        width: 7rem;
        height: 4.8rem;
    }
}

@media screen and (max-width: 675px) {
    footer {
        font-size: 10px;
    }
    .footer-logo img {
        width: 5rem;
        height: 3.5rem;
    }
}